@font-face {
    font-family: "Myriad Pro Regular";
    src: url(.../font/myriadpro-regular.ttf) format("truetype");
}
/*-----= modules css page =------*/
.comverse-style-guide{
	background-color: hsl(41, 53%, 64%);
}
.comverse-style-guide .content,h5[titles="itemTitle"]{
	padding-left: 40px;	
}
h1[titles="mainTitle"],h3[titles="moduleTitle"],h5[titles="itemTitle"]{
	color: hsl(246, 60%, 55%);
	display: block;
	clear: both;
	margin: 20px 0;
	font-weight: bold;
}

h1[titles="mainTitle"]{
	text-align: center;
	font-style: oblique;
}
/*---------------------------------*/

/*------= COMVERSE MODULES =---------*/
html{
	font-family: "Myriad Pro Regular", CenturyGothic, AppleGothic, sans-serif;
}

/*------= Headings =-------*/

h1[heading="section"],h2[heading="footer-list"]{
	text-transform: uppercase;
}

h2[heading="footer-list"]{
	margin: 0;
	font: 13px Arial;
	color:hsla(67, 5%, 33%, 1);
}
h1[heading="section"]{
	text-align: center;
}
[heading="section"],[heading="carousel"],[heading="box"]{
color: hsla(0, 0%, 100%, 1);
font: 2.5em/30px "Myriad Pro Regular", CenturyGothic, AppleGothic, sans-serif;;
}
h2[heading="carousel"] em{
	font-style: normal;
	font-weight: bold;
}

/*-----------------------*/
/*------= Links =--------*/
a:link,a:visited{
	text-decoration: none;
	color:hsla(67, 5%, 33%, 1);
}
a:hover, a:focus, a:active{
color: hsla(200, 60%, 50%, 1);	
}
a[link="navigation"]:link,a[link="navigation"]:visited,
a:[link="footer"]:link,a[link="footer"]:visited{
	text-decoration: none;
	
}
a[link="navigation"]:hover, a[link="navigation"]:focus, a[link="navigation"]:active,
a[link="footer"]:hover, a[link="footer"]:focus, a[link="footer"]:active{
color: hsla(200, 60%, 50%, 1);	
}

a[link="box"]:link,a[link="box"]:visited{
	color: hsla(0, 0%, 100%, 1);
	height: 150px;

}
a[link="box"]:hover, a[link="box"]:focus, a[link="box"]:active{
	color: hsla(0, 0%, 100%, 1);
}
/*-----------------------*/
/*-------= list =-------*/
ul[list]{
	margin: 0;
}
nav[user-access-nav]{
	width: 175px;
	display: inline-block;
}
ul[list~="row"] li{
	float: left;
	list-style: none;
}
nav[main-nav]{
	display: inline-block;
}
[list~="navigation"]{
	position: relative;
}
ul[list~="navigation"] li{
	float: left;
	width: inherit;
	list-style: none;
	display: inline;
	font: 13px Arial;
	border-left: 1px solid hsla(0, 0%, 82%, 1);
	padding: 0 10px;
}
ul[list~="navigation"] li:first-child{
	border-left:none;
}

li > select{
	border: none;
	width: 42px; 
	color: hsla(67, 5%, 33%, 1);
	margin: 0;	

}

ul[list="footer"]{	
	margin-top: 10px;
	margin-left: 0;
	padding-left: 0;
}
ul[list="footer"] li{
	list-style-type: none;
	font: 13px Arial;
	line-height: 1.8em;
}
/*-----------------------*/

/*------ Box =-----*/
[color-boxs]{
	list-style: none;
	display: block;
	margin-top: 0;
	margin-bottom: 0;
	padding-left:0; 
}

[color-boxs] a{
	display: block;
	padding: 10px 14px 10px;
	height: 100%;
}

[color-box]{
	width: 290px;
	display: inline-block;
	border-radius: 6px;
	padding:0;
	margin-left:34px; 
	-webkit-box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.75);
	box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.75);
}
[color-box]:hover span{
	text-decoration: underline;
}
[color-boxs] li:first-child{
	margin-left:0;
}
[color-box] [heading="box"]{
	font-size: 24px;
	margin-top: 5px
	display: block;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}
[color-box~="pink"]{
	background-color: hsla(330, 69%, 51%, 0.9);
}
[color-box~="pink"]:hover{
	background-color: hsla(330, 100%, 60%, 1);
}
[color-box~="green"]{
	background-color: hsla(100, 51%, 43%,0.9);
}
[color-box~="green"]:hover{
	background-color: hsla(99, 78%, 54%,1);
}
/* need to add all color boxes + hover */

[footer="color-box"] {
	height: 13%;
	position: relative;
	top:10%;
}
[footer="color-box"] > span{
	font-weight: bold;
	margin-left: 3%;
	padding-top: 1%;
	float: left;
}
[footer="color-box"] > img{
	float: left;
}

[event-box]{
	position: relative;
	width: 280px;
	height: 99px;
	margin-bottom: 10px;
	padding: 10px;
	display: block;
	overflow: hidden;
	padding: 10px;
	margin-bottom: 10px;
	background-color: rgba(256, 256, 256, 0.4);
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}
[event-date]{
	width: 69px;
	float: left;
	margin-right: 12px;
	text-align: center;
	background: hsla(200, 60%, 50%, 1);
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 5px 0px hsla(0, 0%, 0%, 0.2) inset, 0 2px 3px 0 hsla(0, 0%, 0%, 0.2);
	box-shadow: 0 1px 5px 0px hsla(0, 0%, 0%, 0.2) inset, 0 2px 3px 0 hsla(0, 0%, 0%, 0.2);
}
[event-box]:hover{
	background-color: hsla(26, 16%, 92%, 1);
	-webkit-box-shadow: inset 1px 1px 6px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 1px 1px 6px 0px rgba(0,0,0,0.75);
	box-shadow: inset 1px 1px 6px 0px rgba(0,0,0,0.75);
}
[event-day]{
	margin: 0;
	color: hsla(0, 0%, 100%, 1);
	font: 3em/65px "Myriad Pro Regular", CenturyGothic, AppleGothic, sans-serif;
	height: 65px;
	border-bottom: 1px dotted hsla(0, 0%, 100%, 1);
}
[event-month]{
	margin: 0;
	color: hsla(0, 0%, 100%, 1);
	font: 1em/33px "Myriad Pro Regular", CenturyGothic, AppleGothic, sans-serif;
	height: 33px;
	text-transform: uppercase;
}
[event-info]{
	margin: 0;
	overflow: hidden;
	color: hsla(0, 0%, 10%, 1);
	font: 1em "Myriad Pro Regular", CenturyGothic, AppleGothic, sans-serif;
}
[box~="solution"]{
	width: 160px;
	margin: 0 auto;
}
[box~="solution"] img[back]{
	display: none;
}
[box~="solution"]:hover img[back]{
	display: block;
}
[box~="solution"]:hover img[front]{
	display: none;
}
[box~="solution"]{
	width: 160px;
	
}
[box~="solution"] figure{
	margin:0;
	position: relative;
}
[box~="solution"] figure figcaption{
	text-align: center;
	font-size: 14px;
}
[box~="solution"] figure img{
	display: block;
    margin-left: auto;
    margin-right: auto;
	vertical-align: bottom;
	max-height: 100%;
}