/*-----= modules css page =------*/
h1[titles="mainTitle"],h3[titles="moduleTitle"],h5[titles="itemTitle"]{
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-weight: bold;
	color: hsl(240,0%,49%);
	font-weight: bold;
	border-bottom: 1px solid hsl(240,0%,49%);
}

h1[titles="mainTitle"]{
	text-align: center;
	font-style: oblique;
}
/*---------------------------------*/

/*------= COMVERSE MODULES =---------*/

/*------= Headings =-------*/
h2[heading="footer-list"]{
	margin: 0;
	text-transform: uppercase;
	font: 13px Arial;
	color:#585951;
}
h2[heading="carousel"]{
color: #FFFFFF;
text-shadow: black 3px 3px 3px;
font: 2.5em/30px "Century Gothic", CenturyGothic, AppleGothic, sans-serif;;
padding: 0 0 14px;
clear: both;
}
h2[heading="carousel"] em{
	font-style: normal;
	font-weight: bold;
}

/*-----------------------*/
/*------= Links =--------*/
a:link,a:visited{
	text-decoration: none;
	color:#585951;
}
a:hover, a:focus, a:active{
color: #3399CC;	
}
a[link="navigation"]:link,a[link="navigation"]:visited{
	text-decoration: none;
	color:inherit;
}
a[link="navigation"]:hover, a[link="navigation"]:focus, a[link="navigation"]:active{
color: #3399CC;	
}
a:[link="footer"]:link,a[link="footer"]:visited{
	text-decoration: none;
}
a[link="footer"]:hover, a[link="footer"]:focus, a[link="footer"]:active{
color: #3399CC;	
}
/*-----------------------*/
/*-------= list =-------*/
ul[list="navigation"] li{
	float: left;
	list-style-type: none;
	font: 13px Arial;
	color:#585951;
	border-left: 1px solid #d0d0d0;
	padding: 0 10px;
}
ul[list="navigation"] li:first-child{
	border-left:none;
}
select[name="lang"]{
	margin: 0;
}
li > select{
	border: none;
	width: 42px; 
	color: inherit;
	line-height: 42px;
}
ul[list="footer"]{	
	list-style-type: none;
	margin-top: 10px;
	margin-left: 0;
	padding-left: 0;
}
ul[list="footer"] li{
	font: 13px Arial;
	color:#585951;
	line-height: 1.8em;
}
/*-----------------------*/

/*------ Heading =-----*/

