@font-face {
  font-family: "Agilita";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/agilita.eot?#iefix") format("embedded-opentype"), url("../fonts/agilita.woff") format("woff"), url("../fonts/agilita.ttf") format("truetype"), url("../fonts/agilita.svg#formatalight") format("svg");
}


/*-----= modules css page =------*/
.comverse-style-guide{
	background-color: hsl(201, 18%, 76%);
}
.comverse-style-guide .content,h5[titles="itemTitle"]{
	padding-left: 40px;	

}
.content{
	margin: 20px 0;
	height: auto;
}
h1[titles="mainTitle"],h3[titles="moduleTitle"],h5[titles="itemTitle"]{
	color: hsl(246, 60%, 55%);
	display: block;
	clear: both;
	margin: 20px 0;
	font-weight: bold;
	display: block; 
	vertical-align: baseline;
}

h1[titles="mainTitle"]{
	text-align: center;
	font-style: oblique;
}
/*---------------------------------*/

/*------= COMVERSE MODULES =---------*/
html{
	font-family: "Agilita";
}


[clearfix]:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
[clearfix] {
    display: inline-block;
}



/*------= Headings =-------*/

h1[heading="section"],h2[heading="footer-list"]{
	text-transform: uppercase;
}

h2[heading="footer-list"]{
	margin: 0;
	font: 13px Arial;
	color:hsla(67, 5%, 33%, 1);
}
h1[heading="section"]{
	text-align: center;
}
[heading="section"],[heading="carousel"],[heading="box"]{
color: hsla(0, 0%, 100%, 1);
font: 2.5em/30px "Agilita";
margin: 0 auto;
}
h2[heading="carousel"] em{
	font-style: normal;
	font-weight: bold;
}

/*-----------------------*/
/*------= Links =--------*/
a:link,a:visited{
	text-decoration: none;
	color:hsla(67, 5%, 33%, 1);
}
a:hover, a:focus, a:active{
color: hsla(200, 60%, 50%, 1);	
}
a[link="navigation"]:link,a[link="navigation"]:visited,
a:[link="footer"]:link,a[link="footer"]:visited{
	text-decoration: none;
	
}
a[link="navigation"]:hover, a[link="navigation"]:focus, a[link="navigation"]:active,
a[link="footer"]:hover, a[link="footer"]:focus, a[link="footer"]:active{
color: hsla(200, 60%, 50%, 1);	
}
a[link="box"]{
	width: inherit;
	height: inherit;
}
a[link="box"]:link,a[link="box"]:visited{
	position: relative;
}
[feature-box] a[link="box"]:hover, [feature-box] a[link="box"]:focus, [feature-box] a[link="box"]:active,
[feature-box] a[link="box"]:link, [feature-box] a[link="box"]:visited{
	color: hsla(0, 0%, 100%, 1);
}

a[link="btnBlue"]{
	color: #FFFFFF;
	display: block;
	height: 35px;
	width: 157px;
	padding: 0 10px;
	-webkit-border-radius: 5px;
	line-height: 35px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
	background: #2f95c8;
	background: -moz-linear-gradient(top, #2f95c8 0%, #2c96ca 24%, #1188c4 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2f95c8), color-stop(24%,#2c96ca), color-stop(100%,#1188c4));
	background: -webkit-linear-gradient(top, #2f95c8 0%,#2c96ca 24%,#1188c4 100%);
	background: -o-linear-gradient(top, #2f95c8 0%,#2c96ca 24%,#1188c4 100%);
	background: -ms-linear-gradient(top, #2f95c8 0%,#2c96ca 24%,#1188c4 100%);
	background: linear-gradient(to bottom, #2f95c8 0%,#2c96ca 24%,#1188c4 100%);
}
a[link="btnBlue"] span{
	background: url("../img/btnArrow.png") no-repeat scroll right center;
	display: block;
	height: 100%;
}
a[link="btnBlue"]:hover{
	background: -moz-linear-gradient(top, #40a2d5 0%, #289ad2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#40a2d5), color-stop(100%, #289ad2));
	background: -webkit-linear-gradient(top, #40a2d5 0%, #289ad2 100%);
	background: -o-linear-gradient(top, #40a2d5 0%, #289ad2 100%);
	background: -ms-linear-gradient(top, #40a2d5 0%, #289ad2 100%);
	background: linear-gradient(to bottom, #40a2d5 0%, #289ad2 100%);
}
/*-----------------------*/
/*-------= list =-------*/
ul[list]{
	margin: 0;
}

nav[user-access-nav]{
	width: 230px;
	height: 20px;	
}
[list~="row"] li{
	float: left;
	list-style: none;

}
nav[main-nav]{
	display: inline-block;
}
[list~="navigation"]{
	position: relative;
}
ul[list~="navigation"] li{
	float: left;
	width: inherit;
	list-style: none;
	display: inline;
	font: 13px Arial;
	border-left: 1px solid hsla(0, 0%, 82%, 1);
	padding: 0 10px;
}
ul[list~="navigation"] li:first-child{
	border-left:none;
}

li > select{
	border: none;
	width: 42px; 
	color: hsla(67, 5%, 33%, 1);
	margin: 0;	
	display:inline-block;

}

ul[list="footer"]{	
	margin-top: 10px;
	margin-left: 0;
	padding-left: 0;
}
ul[list="footer"] li{
	list-style-type: none;
	font: 13px Arial;
	line-height: 1.8em;
}
ol[list~="carouselIndicators"]{
	height: 11px;
	padding:0; 
}
ol[list~="carouselIndicators"] li{
	background: #e5e5e5;
	color: #FFF;
	font: 1em/11px Arial;
	text-align: center;
	float: left;
	margin-left: 7px;
	width: 11px;
	height: inherit;
	cursor: pointer;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-indent: -9999px;
}
ol[list~="carouselIndicators"] li[active]{
	background: #2e95ca;
}
/*-----------------------*/

/*------ Box =-----*/

[box~="search"]{
	height: 25px;
	width: 180px;
}
[box~="search"] input[type="search"]{
	margin: 0;
	height: 100%;
	width: 150px; 
	border:1px solid lightgrey;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	display: inline-block;
	vertical-align: top;
}
[box~="search"] button[type="submit"]{
	margin-left: 0;
	height: inherit;
	width: 25px;
	display: inline-block;
	vertical-align: top;
	border: 1px solid black;
	border:1px solid lightgrey;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-left:0; 
	margin: 0;
	color: #3097CB;
	background: white;
}
ul[list~="feature-boxs"]{
	list-style: none;
	display: block;
	height: 170px;
	margin-top: 0;
	margin-bottom: 0;
	padding-left:0; 
}

li[feature-box] a{
	display: block;
	padding: 10px 14px 10px;
	height: 150px;
	width: 262px;
	color: hsla(0, 0%, 100%, 1);
	display: inline-block;
	border-radius: 6px;
	margin-left:34px; 
	-webkit-box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.75);
	box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.75);
}


[feature-box]:hover span{
	text-decoration: underline;
}

ul[list~="feature-boxs"] li:first-child{
	margin-left:0;
}
[feature-box] [heading="box"]{
	font-size: 24px;
	margin-top: 5px
	display: block;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}
[feature-box~="pink"] a{
	background-color: hsla(330, 69%, 51%, 0.9);
}
[feature-box~="pink"] a:hover{
	background-color: hsla(330, 100%, 60%, 1);
}
[feature-box~="green"] a{
	background-color: hsla(100, 51%, 43%,0.9);
}
[feature-box~="green"] a:hover{
	background-color: hsla(99, 78%, 54%,1);
}
/* need to add all color boxes + hover */
[feature-box] a article{
	width: inherit;
	height: inherit;
}

[feature-box] footer {
	height: 13%;
	position: relative;
	top:20%;
}
[feature-box] footer span{
	font-weight: bold;
	margin-left: 3%;
	
}
[feature-box] footer img{
	float: left;
}

[event-box]{
	position: relative;
	width: 280px;
	height: 99px;
	margin-bottom: 10px;
	padding: 10px;
	display: block;
	overflow: hidden;
	padding: 10px;
	margin-bottom: 10px;
	background-color: rgba(256, 256, 256, 0.4);
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}
[event-date]{
	width: 69px;
	float: left;
	margin-right: 12px;
	text-align: center;
	background: hsla(200, 60%, 50%, 1);
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 5px 0px hsla(0, 0%, 0%, 0.2) inset, 0 2px 3px 0 hsla(0, 0%, 0%, 0.2);
	box-shadow: 0 1px 5px 0px hsla(0, 0%, 0%, 0.2) inset, 0 2px 3px 0 hsla(0, 0%, 0%, 0.2);
}
[event-box]:hover{
	background-color: hsla(26, 16%, 92%, 1);
	-webkit-box-shadow: inset 1px 1px 6px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 1px 1px 6px 0px rgba(0,0,0,0.75);
	box-shadow: inset 1px 1px 6px 0px rgba(0,0,0,0.75);
}
[event-day]{
	margin: 0;
	color: hsla(0, 0%, 100%, 1);
	font: 3em/65px "Agilita";
	height: 65px;
	border-bottom: 1px dotted hsla(0, 0%, 100%, 1);
}
[event-month]{
	margin: 0;
	color: hsla(0, 0%, 100%, 1);
	font: 1em/33px "Agilita";
	height: 33px;
	text-transform: uppercase;
}
[event-info]{
	margin: 0;
	overflow: hidden;
	color: hsla(0, 0%, 10%, 1);
	font: 1em "Agilita";
}
[box~="solution"]{
	width: 160px;
	margin: 0 auto;
}
li[box~="solution"]+a[link="box"]{
	width: 160px;
	height: inherit;
}
[box~="solution"] img[back]{
	display: none;
}
[box~="solution"]:hover img[back]{
	display: block;
}
[box~="solution"]:hover img[front]{
	display: none;
}
[box~="solution"]{
	width: 160px;
	
}
[box~="solution"] figure{
	margin:0;
	position: relative;
}
[box~="solution"] figure figcaption{
	text-align: center;
	font-size: 1.6em/20px Agilita;
	color: white;
}
[box~="solution"] figure figcaption:hover{
	color: white;
}
[box~="solution"] figure img{
	display: block;
    margin-left: auto;
    margin-right: auto;
	vertical-align: bottom;
	max-height: 100%;
}

[list~="success-story"]{
	float: left;
	max-width: 69em;
	list-style: none;
	margin: 0 auto;
	padding: 0;
	width: 352px;
	height: 323px !important;
}
[list~="quote"]{
	width:236px;
}

[list~="success-story"] [box="wrap-slider"]{
	width: 341px;
	height: 210px;
	display: block;
}
[list~="success-story"] [box~="quote"]{
	width: 224px;
	height: 210px;
	display: block;
}
[list~="success-story"] li{
	display: block;
	float: left;
	width: 107px;
	height: 94px;
	margin: 5px;
	overflow: hidden;
	background-color: white;
	position: relative !important;
	left: auto !important;
	top: auto !important;
}

[box~="wrap-slider"] [front-success-story]{
	position: absolute;
	top: 0;
	left: 0;
	border: 0;
	height: 170px;
	background-color: white;
	width: 302px;
	padding: 20px;
}
[list~="success-story"] a [up]{
	height: 130px;
	border-bottom: 1px #DDDDDD solid;
}
blockquote{
	font-size: 125%;
	line-height: 1.4em;
}
[front-success-story] [up] blockquote{
	margin: 0;
	color: black;
	width: 195px;
	height: 112px;
	color:hsla(67, 5%, 33%, 1);	
	overflow: hidden;
	float: right;
}
[front-success-story] [up] blockquote:before,[front-success-story] [up] blockquote:after{
	content: url("../img/quote-grey.png");
	width: 27px;
	height: 20px;
}
[back-success-story] blockquote{
	margin: 0;
	display: inline-block;
	width: 75%;
}
[front-success-story="quote"] [up] blockquote{
	float: none;
}
[back-success-story] img:first-child{
	vertical-align: top;
	display: inline-block;
}
[front-success-story] [down]{
	margin-top: 6px;
}
[front-success-story] [down] [person-info]{
	display: inline-block;
	font-size:13px;
}
[front-success-story] [down] cite[person-name]{
	color: hsla(200, 60%, 50%, 1);
	text-transform: uppercase;
	font-size:inherit;
	font-style: normal;
	display: block;
}
[front-success-story] [down] [office-name]{
	color:hsla(67, 5%, 33%, 1);	
	margin-top: 2px;
	font-size:inherit;
	margin-bottom: 0;
}
[front-success-story] [down] img{
	display: inline-block;
	float: right;
}

[box~="wrap-slider"] [front-success-story="quote"]{
	width:184px;
}

[back-success-story]{
	display: none;
	width: 301px;
	height: 170px;
	padding: 20px;
	margin-bottom: 20px;
	overflow: hidden;
	background: #3AA6DB;
}
[box="wrap-slider"]:hover [back-success-story]{
	display: inline-block;
}

